sysbuild
*.sdf
*.suo
*.sln
*.opensdf
log.txt
build/
build-*/
*.o

*.xcworkspace
xcuserdata
.DS_Store

latex/
*.map
*.md5

script/verinfo.rc
/CMakeCache.txt
/CMakeFiles/
/CMakeScripts/
/cmake_install.cmake
/max-sdk.xcodeproj/
/max-sdk.build/
/..gitignore.~undo-tree~
/source/basics/autocoder/.CMakeLists.txt.~undo-tree~
/source/basics/autocoder/CMakeFiles/
*~
/source/basics/autocoder/CMakeScripts/
/source/basics/autocoder/autocoder.xcodeproj/
/source/basics/autocoder/cmake_install.cmake
/source/basics/autocoder/max-sdk.build/
*.maxsnap
